<!DOCTYPE html>
{% load static %}
<html class>
<head>
    <title>Sales Management System</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <script>
        function toggleTheme() {
            const currentTheme = document.documentElement.classList.contains('dark') ? 'dark' : 'light';
            const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
            document.documentElement.setAttribute('class', newTheme);
            localStorage.setItem('theme', newTheme);
        }

        // Apply saved theme on page load
        const savedTheme = localStorage.getItem('theme') || 'light';
        document.documentElement.setAttribute('class', savedTheme);
        
    </script>
</head>
<body class="bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100 min-h-screen transition-colors duration-300">
   {% include 'core/navbar.html'  %}
    <main class="container mx-auto px-4 py-8">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
